@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2b2a2a;
}

.nav-wrapper {
    max-width: 100vw;
    height: auto;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
}

.nav-logo {
    max-width: 20%;
}

.logo {
    width: 150px;
    height: auto;
}

.nav-links {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: rgb(165, 45, 45);
    font-weight: 800;
}